:root {
    --font-size: 12px;
    --font-color: #888;
    --background-color: #f0f0f0;
    --primary-color: #18a0fb;
    --padding: 8px;
    --border-radius: 4px;
    --hover-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
    --hover-inset-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    --focus-box-shadow: inset 0 0 0 2px #18a0fb;
}

body {
    font: var(--font-size) Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color);
    padding: 24px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

hr {
    padding: 0;
    margin: 16px 0;
    height: 0;
    border-top: 1px solid #ddd;
    width: 100%;
    display: block;
}

h2, h4, h5 {
    margin: 0 0 8px;
    padding: 0;
}
h5 { font-size: 0.86rem; }
p {
    margin: 0 0 16px;
    padding: 0;
    color: var(--font-color);
}

label {
    display: inline-block;
    font-size: var(--font-size);
    color: var(--font-color);
}

button {
    border-radius: var(--border-radius);
    background: white;
    color: black;
    border: none;
    padding: var(--padding) 16px;
    outline: none;
    cursor: pointer;
}

.button--primary {
    box-shadow: none;
    background: var(--primary-color);
    color: white;
}

button:hover {
    box-shadow: var(--hover-box-shadow);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
}
button:disabled:hover {
    box-shadow: none;
}

select,
input {
    border: none;
    outline: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
    width: 100%;
    min-width: 150px;
}

input:hover,
select:hover,
button:hover {
    box-shadow: var(--hover-inset-box-shadow);
}

input:focus,
select:focus,
button:focus {
    box-shadow: var(--focus-box-shadow);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td {
    padding-bottom: var(--padding);
}

blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 16px 0 16px;
    padding: 4px 0 4px 8px;
    border-left: 2px solid var(--primary-color);
}